In [3]:
import sqlite3
import pickledb
from tinydb import TinyDB, Query

### Таблицы

In [5]:
conn = sqlite3.connect('Cleaning_Company.db')
c = conn.cursor()

# Оценки (обратная связь)
c.execute('''create table Rates(ID INTEGER NOT NULL PRIMARY KEY, Rate int not null, Criteria varchar(250) not null)''')
# Должности
c.execute('''create table Positions(ID INTEGER NOT NULL PRIMARY KEY, Naming varchar(50) not null, Salary int not null)''')
# Юридические лица
c.execute('''create table Entities(ID INTEGER NOT NULL PRIMARY KEY, Naming varchar(50) not null, Square_Offices int not null, E_Address varchar(100) not null)''')
# Физические лица
c.execute('''create table Individuals(Passport_SN INTEGER NOT NULL PRIMARY KEY, F_Name varchar(50) not null, S_Name varchar(50), L_Name varchar(50) not null, I_Address varchar(100) not null, Room_Square int not null)''')
# Услуги
c.execute('''create table C_Services(ID INTEGER NOT NULL PRIMARY KEY, Naming varchar(50) not null, Cost_m2 int not null, Popularity int)''')
# Типы работ
c.execute('''create table Work_Types(ID INTEGER NOT NULL PRIMARY KEY, Naming varchar(100) not null)''')
# Спецификации всех работ
c.execute('''create table Work_Spec(ID INTEGER NOT NULL PRIMARY KEY, W_Date date not null, W_Time time not null)''')
# Работники
c.execute('''create table Employees(Passport_SN INTEGER NOT NULL PRIMARY KEY, ID_Positions int references Positions(ID), F_Name varchar(50) not null, S_Name varchar(50), L_Name varchar(50) not null, Salary int, Date_Birth date not null, Date_hire date not null)''')
# Заказы
c.execute('''create table Orders(Number INTEGER NOT NULL PRIMARY KEY, ID_Work_Spec int references Work_Spec(ID), O_Date date not null)''')
# Журнал
c.execute('''create table Register(Passport_SN_Employees int references Employees(Passport_SN), ID_Rates int references Rates(ID), Number_Orders int references Orders(Number), W_date date not null)''')
# Договоры
c.execute('''create table Contracts(Number INTEGER NOT NULL PRIMARY KEY, Passport_SN_Individuals int references Individuals(Passport_SN), ID_Entities int references Entities(ID), Number_Orders int references Orders(Number), C_Name varchar(100) not null, Sign_Date date not null, Date_Start date, Date_End date)''')
# Соотношение физ. лицо - работник
c.execute('''create table Employees_Individuals(Passport_SN_Employees int references Employees(Passport_SN), Passport_SN_Individuals int references Individuals(Passport_SN))''')
# Соотношение юр. лицо - работник
c.execute('''create table Employees_Entities(Passport_SN_Employees int references Employees(Passport_SN), ID_Entities int references Entities(ID))''')
# Соотношение договоры - услуги
c.execute('''create table Contracts_C_Services(Number_Contracts int references Contracts(Number), ID_C_Services int references C_Services(ID))''')
# Соотношение спецификации - типы работ
c.execute('''create table Work_Spec_Work_Types(ID_Work_Spec int references Work_Spec(ID), ID_Work_Types int references Work_Types(ID))''')

conn.commit()
conn.close()

### Триггеры

In [9]:
conn = sqlite3.connect('Cleaning_Company.db')
c = conn.cursor()

#conn.commit()
conn.close()

OperationalError: near "@ID_S": syntax error

### Просмотр

In [7]:
rdb = pickledb.load('rates.db', False)
print(rdb.getall())
for k in rdb.getall():
    print(f'k: {rdb.get(k)}')

dict_keys(['999'])
k: ['5', 'Супер']

In [8]:
rdb = pickledb.load('users.db', False)
print(rdb.getall())
for k in rdb.getall():
    print(f'k: {rdb.get(k)}')

dict_keys([])

In [10]:
ord_db = TinyDB('orders.db')
for obj in ord_db.all():
    print(obj)

In [13]:
conn = sqlite3.connect('Cleaning_Company.db')
c = conn.cursor()

In [ ]:
conn.close()

In [ ]:
for row in c.execute("SELECT * FROM Rates"):
    print(row)

In [ ]:
for row in c.execute("SELECT * FROM Positions"):
    print(row)

In [ ]:
for row in c.execute("SELECT * FROM Entities"):
    print(row)

In [ ]:
for row in c.execute("SELECT * FROM Individuals"):
    print(row)

In [14]:
for row in c.execute("SELECT * FROM C_Services"):
    print(row)

(1, 'Генеральная уборка', 110, 0)
(2, 'Мытье полов', 100, 0)

In [ ]:
for row in c.execute("SELECT * FROM Work_Types"):
    print(row)

In [ ]:
for row in c.execute("SELECT * FROM Work_Spec"):
    print(row)

In [ ]:
for row in c.execute("SELECT * FROM Employees"):
    print(row)

In [ ]:
for row in c.execute("SELECT * FROM Orders"):
    print(row)

In [ ]:
for row in c.execute("SELECT * FROM Register"):
    print(row)

In [ ]:
for row in c.execute("SELECT * FROM Contracts"):
    print(row)

In [ ]:
for row in c.execute("SELECT * FROM Employees_Individuals"):
    print(row)

In [ ]:
for row in c.execute("SELECT * FROM Employees_Entities"):
    print(row)

In [ ]:
for row in c.execute("SELECT * FROM Contracts_C_Services"):
    print(row)

In [8]:
for row in c.execute("SELECT * FROM Work_Spec_Work_Types"):
    print(row)

(1, 'Мытье туалетов')

In [15]:
conn.close()