In [1]:
import sqlite3
conn = sqlite3.connect('Cleaning_Company.db')

c = conn.cursor()

# Оценки (обратная связь)
c.execute('''create table Rates(ID int primary key, Rate int not null, Criteria varchar(250) not null)''')
# Должности
c.execute('''create table Positions(ID int primary key, Naming varchar(50) not null, Salary int not null)''')
# Юридические лица
c.execute('''create table Entities(ID int primary key, Naming varchar(50) not null, Square_Offices int not null, E_Address varchar(100) not null)''')
# Физические лица
c.execute('''create table Individuals(Passport_SN int primary key, F_Name varchar(50) not null, S_Name varchar(50), L_Name varchar(50) not null, I_Address varchar(100) not null, Room_Square int not null)''')
# Услуги
c.execute('''create table C_Services(ID int primary key, Naming varchar(50) not null, Cost_m2 int not null, Popularity int)''')
# Типы работ
c.execute('''create table Work_Types(ID int primary key, Naming varchar(100) not null)''')
# Спецификации всех работ
c.execute('''create table Work_Spec(ID int primary key, W_Date date not null, W_Time time not null)''')
# Работники
c.execute('''create table Employees(Passport_SN int primary key, ID_Positions int references Positions(ID), F_Name varchar(50) not null, S_Name varchar(50), L_Name varchar(50) not null, Salary int, Date_Birth date not null, Date_hire date not null)''')
# Заказы
c.execute('''create table Orders(Number int primary key, ID_Work_Spec int references Work_Spec(ID), O_Date date not null)''')
# Журнал
c.execute('''create table Register(Passport_SN_Employees int references Employees(Passport_SN), ID_Rates int references Rates(ID), Number_Orders int references Orders(Number), W_date date not null)''')
# Договоры
c.execute('''create table Contracts(Number int primary key, Passport_SN_Individuals int references Individuals(Passport_SN), ID_Entities int references Entities(ID), Number_Orders int references Orders(Number), C_Name varchar(100) not null, Sign_Date date not null, Date_Start date, Date_End date)''')
# Соотношение физ. лицо - работник
c.execute('''create table Employees_Individuals(Passport_SN_Employees int references Employees(Passport_SN), Passport_SN_Individuals int references Individuals(Passport_SN))''')
# Соотношение юр. лицо - работник
c.execute('''create table Employees_Entities(Passport_SN_Employees int references Employees(Passport_SN), ID_Entities int references Entities(ID))''')
# Соотношение договоры - услуги
c.execute('''create table Contracts_C_Services(Number_Contracts int references Contracts(Number), ID_C_Services int references C_Services(ID))''')
# Соотношение спецификации - типы работ
c.execute('''create table Work_Spec_Work_Types(ID_Work_Spec int references Work_Spec(ID), ID_Work_Types int references Work_Types(ID))''')

conn.commit()
conn.close()